@import "tailwindcss";

@theme {
  --color-background: #f8fbff;
  --color-primary-bg: #edf4ff;

  --color-card: #ffffff;
  --color-card-foreground: #334155;

  --color-primary: #c8dbfe;
  --color-primary-foreground: #1e293b;

  --color-primary-dark: #3b568f;

  --color-primary-light: #e1ecff;
  --color-primary-light-foreground: #334155;

  --color-text: #1e2538;
  --color-text-gray: #616b82;

  --color-secondary: #dccfff;
  --color-secondary-foreground: #3b1e54;

  --color-milk-white: #faf7ff;

  --color-accent: #ffd6e7;
  --color-accent-foreground: #334155;
  --color-accent-purple: #7b61ff;

  --color-muted: #eef4ff;
  --color-muted-foreground: #64748b;

  --color-destructive: #ffd6d6;

  --color-border: #dbe7ff;
  --color-input: #dbe7ff;
  --color-ring: #c8dbfe;
}
