@import "tailwindcss";

@theme {
  --color-background: #f8fbff;
  --color-primary-bg: #edf4ff;

  --color-card: #ffffff;
  --color-card-foreground: #334155;

  --color-primary: #c8dbfe;
  --color-primary-foreground: #1e293b;

  --color-primary-dark: #3b568f;

  --color-primary-light: #e1ecff;
  --color-primary-light-foreground: #334155;

  --color-text: #1e2538;
  --color-text-gray: #616b82;

  --color-secondary: #dccfff;
  --color-secondary-foreground: #3b1e54;

  --color-milk-white: #fcfbf7;
  --color-success-muted: #e6f4ea;
  --color-success-pastel: #cff4d2;
  --color-success-dark: #9bf78f;
  --color-success-foreground: #2b6938;
  --color-success-light: #cff4de;

  --color-accent: #ffd6e7;
  --color-accent-foreground: #334155;
  --color-accent-purple: #7b61ff;
  --color-warn: #ffe5b8;
  --color-warn-foreground: #86640d;

  --color-muted: #eef4ff;
  --color-muted-foreground: #64748b;

  --color-destructive: #ffd6d6;

  --color-border: #dbe7ff;
  --color-input: #dbe7ff;
  --color-ring: #c8dbfe;
  --shadow-card: 0 2px 10px rgba(0, 0, 0, 0.04);
  --shadow-hover: 0 12px 30px rgba(0, 0, 0, 0.08);
}
